.pyramid {
  padding: 1em;
  background-color: rgb(15, 33, 46);
  width: 420px;
  height: 360px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.multipliers-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
}