body {
  background-color: rgb(19, 36, 51);
}

.circle {
  border-radius: 50%;
  background-color: white;
  width: 1.2em;
  height: 1.2em;
}

.row {
  display: flex;
  gap: 4em;
  align-items: center;
  justify-content: center;
}

.pyramid {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.multipliers-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiplier {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.4em;
  background-color: red;
  width: 1.4em;
  margin: 0 0.6em;
  border-radius: 0.22em;
}